<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="sparkConf" class="org.apache.spark.SparkConf">
        <property name="AppName" value="SparkForSpring" />
        <property name="Master" value="local" />
    </bean>
    <bean id="javaSparkContext" class="org.apache.spark.api.java.JavaSparkContext">
        <constructor-arg type="org.apache.spark.SparkConf" ref="sparkConf" />
    </bean>
    <bean id="sqlContext" class="org.apache.spark.sql.SQLContext">
        <constructor-arg type="org.apache.spark.api.java.JavaSparkContext" ref="javaSparkContext" />
    </bean>
</beans>